  <div class="header-end-form">
    <div class="icon-end">
    </div>
    <div class="text-end-form">
      <p>
        Thank you! We <span>won't be sharing your details at any point</span> and it will help us validate the rating.
        <span class="star-information-popover-link">
          <i class="fa fa-info-circle" data-target="#information-text-section-1"></i>
        </span>
      </p>
      <div id="information-text-section-1" class="star-information-popover">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint tempora, ipsam aperiam distinctio ex facere repellendus, reiciendis alias laboriosam consectetur.
      </div>
    </div>
  </div>
  <div class="titles-section-2">
    <!-- TMP: -->
    <h4>Please sign up with your name and email</h4>
    <!-- <h4>Please choose 1 option</h4> -->
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="user-creation">
        <%= f.input :reviewer_name, label: false, placeholder: "First and Last Name", input_html: { class: "rating-form-fields" }%>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="user-creation">
        <%= f.input :reviewer_email, label: false, placeholder: "Email", input_html: { class: "rating-form-fields" } %>
      </div>
    </div>
  </div>
  <div class="divider-center">
    <div style="width: 430px; height: 15px; border-bottom: solid 1px #e0e5ec; text-align: center">
      <span style="font-size: 18px; background-color: #F6F8FA; padding: 0 10px; color: #4c4a4e; ">  or  </span>
    </div>
  </div>
<!--   <div class="row">
    <div class="signin-fb-linkedin">
      <div class="col-xs-12 col-md-6">
        <div class="or-end-form">or</div>
        <div class="linkedin-button">
          <div class="fafa-icon">
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
          </div>
          <div class="text-button-social">
            <p>Sign in with <b>Linkedin</b></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="or-end-form">or</div>
        <div class="facebook-button">
          <div class="fafa-icon">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </div>
          <div class="text-button-social">
            <p>Sign in with <b>Facebook</b></p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
