<h4 class="sub-header">
  Status During Internship
</h4>

<div class="form-group radio_buttons required rating_professional_status append-error-message-status">
  <input type="hidden" name="rating[professional_status]" value="">
  <span class="radio">
    <label for="rating_professional_status_student">
      <input class="radio_buttons required" type="radio" value="Student" name="rating[professional_status]" id="rating_professional_status_student">
      <div class="professional-status-image"></div>
      Student
    </label>
  </span>
  <span class="radio">
    <label for="rating_professional_status_graduate">
      <input class="radio_buttons required" type="radio" value="Graduate" name="rating[professional_status]" id="rating_professional_status_graduate">
      <div class="professional-status-image"></div>
      Graduate
    </label>
  </span>
  <span class="radio">
    <label for="rating_professional_status_trainee">
      <input class="radio_buttons required" type="radio" value="Trainee" name="rating[professional_status]" id="rating_professional_status_trainee">
      <div class="professional-status-image"></div>
      Trainee
    </label>
  </span>
  <span class="radio">
    <label for="rating_professional_status_young_professional">
      <input class="radio_buttons required" type="radio" value="Young Professional" name="rating[professional_status]" id="rating_professional_status_young_professional">
      <div class="professional-status-image"></div>
      Young Professional
    </label>
  </span>
</div>
