  <!-- CONTRACT & JOB OFFER -->
  <div class="row">
    <div class="col-xs-12 col-lg-5">
      <div class="yes-no-field">
        <div class="titles-section-2">
          <h4 class="sub-header">
            Did you sign a contract?
          </h4>
        </div>
        <div class="form-group radio_buttons optional rating_contract_signed">
          <input type="hidden" name="rating[contract_signed]" value="">
          <div class="section-2-yes-no">
            <span>
              <label for="rating_contract_signed_true">
                <input class="radio_buttons optional hide-input" type="radio" value="true" name="rating[contract_signed]" id="rating_contract_signed_true">
                <div class="section-2-radio">
                  <div class="styled-radio-button"></div>
                  Yes
                </div>
              </label>
            </span>
            <span>
              <label for="rating_contract_signed_false">
                <input class="radio_buttons optional hide-input" readonly="readonly" type="radio" value="false" name="rating[contract_signed]" id="rating_contract_signed_false">
                <div class="section-2-radio">
                  <div class="styled-radio-button"></div>
                  No
                </div>
              </label>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-7">
      <div class="yes-no-field">
        <div class="titles-section-2">
          <h4 class="sub-header">
            Were you offered a job at the end of your internship?
          </h4>
        </div>
        <div class="form-group radio_buttons optional rating_job_offered">
          <input type="hidden" name="rating[job_offered]" value="">
          <div class="section-2-yes-no">
            <span>
              <label for="rating_job_offered_true">
                <input class="radio_buttons optional hide-input" type="radio" value="true" name="rating[job_offered]" id="rating_job_offered_true">
                <div class="section-2-radio">
                  <div class="styled-radio-button"></div>
                  Yes
                </div>
              </label>
            </span>
            <span>
              <label for="rating_job_offered_false">
                <input class="radio_buttons optional hide-input" readonly="readonly" type="radio" value="false" name="rating[job_offered]" id="rating_job_offered_false">
                <div class="section-2-radio">
                  <div class="styled-radio-button"></div>
                  No
                </div>
              </label>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
