<h4 class="sub-header">
  Internship Duration
</h4>
<%= f.input :internship_duration, label: false, as: :radio_buttons, collection: ["Less than 3 months", "3 months", " Less than 6 months", "6 months", "Less than a year", "1 year or more"],wrapper_html: { class: "append-error-message-duration" } %>
