  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="dropdown-button-container">
        <p class="title">
          Job Position
        </p>
        <%= f.input :job_position, placeholder: false, label: false, input_html: {class: "rating-form-fields"} %>
        <div class="dropdown-arrow">
          <div class="arrow"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="dropdown-button-container">
        <p class="title">
          Department
        </p>
        <%= f.input :department, placeholder: false, label: false, input_html: {class: "rating-form-fields"} %>
        <div class="dropdown-arrow">
          <div class="arrow"></div>
        </div>
      </div>
    </div>
  </div>
