</div>


<div class="guy-dark-pic">
Lorem ipsum sit amer
</div>

<div class="container">

<div class="row">
  <div class="col-md-12">
    <div class="title-class">We certify & promote employers with outstanding internship programmes</div><br>
  </div>
</div>
  <div class="row">
    <div class="col-md-4">
      <img src ="/label-page/girl.png" margin-bottom:"30px">
        <div class="title-class">Attract young talents & boost your employer brand</div>
        <div class="paragraph">Stand out as a great employer! Your certified offers reach 100K students and young professionals through our networks of connected job sites, universities and partners.</div>

    </div>
    <div class="col-md-4">
      <img src ="/label-page/uniplaces.png">
        <div class="title-class">Showcase your commitments to youth</div>
        <div class="paragraph">By getting certified, you show your efforts to bridge the skills gap between education & the labour market. You offer internships accessible to all and with a high learning content equipping young people with the necessary skills to get a job.</div>
    </div>
    <div class="col-md-4">
      <img src ="/label-page/intelligence.png">
        <div class="title-class">Human Ressources Intelligence</div>
        <div class="paragraph">You want to keep on improving the quality of your internship program? We help you understand your interns’ needs and provide you with detailed reports including statistics and ratings; internally and in your sector.</div>
    </div>
  </div>

</div> <%# This closes div container div from application.html.erb %>
<div class="banner-black">
  Employers from all industries & the whole of Europe are joining us to showcase their great internships.
  <br>Get started today
</div>

<div class="container">
  <div class="title-class">Take their word for it</div>
  <div class="paragraph">Certified employers talking about their committments</div>
  <div class="col-md-4">
    <img src="/route-page/Nymann.jpg" align="center">
    <div class="margin-top">“We are delighted that we have been awarded the InternsGoPro Champion level Quality Label and that we ‘practice what we preach’ and lead the way in providing internships of good quality.”</div>

    <div class="paragraph"><strong>Johanna Nyman, President of the European Youth Forum</strong></div>

  </div>
  <div class="col-md-4">
    <img src="/route-page/Vaughan.jpg">

    <div class="margin-top">“The chamber has committed to a brand new standard for quality internships with InternsGoPro. It’s part of our commitment to be a great employer, because it makes good business sense”.</div>
    <div class="paragraph"><strong>Glenn Vaughan, Chief Executive British Chamber of Commerce Belgium</strong></div>
  </div>
  <div class="col-md-4">
    <img src="/route-page/Laffarge.jpg">
    <div class="margin-top">“We work with InternsGoPro as we fully believe that high quality internships are essential to young people today”.</div>
    <div class="paragraph"><br><strong>Sylvie Laffarge, Director of Citizenship Europe at Microsoft Europe</strong>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <img src ="/route-page/Logos-1.jpg" width="100%">
    </div>
  </div>

</div>

<div class="banner-label-page"></div>

<div class="container">

  <div class="title-class">Endorsed by the European Institutions</div><br>
  <div class="row">
    <div class="col-md-6">
      <img src="/label-page/Thyssen.png">
      <div class="title-class"> Marianne Thyssen, European Commissioner for Employment</div>
      <div class="paragraph">“I warmly welcome the work of InternsGoPro which complements our efforts at EU level to promote quality traineeships”</div>
    </div>
    <div class="col-md-6">
      <img src="/label-page/Vassiliou.png">
      <div class="title-class">Androulla Vassiliou, Former European Commissioner for Education, a.D.</div>
      <div class="paragraph">“The European Quality Label will make an invaluable contribution to the cause of interns”.</div>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="container">
    <div class="title-class">InternsGoPro in the press:</div><br>
    <img src="route-page/press-logos.png" width="100%">

  </div>
</div>

<div class="banner-2-label-page"></div>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="title-class">3 simple & effective steps to get the label</div><br>
    </div>

  <div class="row">
    <div class="col-md-4">
      <img src ="/label-page/guy.jpg">
        <div class="title-class">1. Quality assessment interview</div>
        <div class="paragraph">We conduct an interview on the quality of your internships. Our label has 6 quality criteria and 23 quality indicators. Together we fill in our “Employer Commitment Scorecard” and assess whether your internship programme is eligible to one of our 3 levels of quality: Advanced, Excellent, Champion</div>

    </div>
    <div class="col-md-4">
      <img src ="/label-page/label-1.jpg">
        <div class="title-class">2. Committing to the best standard & benefiting</div>
        <div class="paragraph">We support you in bringing your internship programme to the highest standards.  Once you are ready to publicly commit & sign up for the label criteria, you are granted the label licence & you can immediately benefit from the promotion services within your:</div>
    </div>
    <div class="col-md-4">
      <img src ="/label-page/keyboard.png">
        <div class="title-class">3. Monitoring your performance</div>
        <div class="paragraph">To make sure you maintain yourself at the highest standards, we introduced a online rating system that confirm the good implementation of your commitments. Interns rate their experience freely & we moderate the reviews to make sure they are trustworthy and valuable HR reports.</div>
    </div>
  </div>

<div class="title-class"> Get in touch with us</div>

<div class="row">
  <div class="col-md-6">
    <div class="title-class">InternsGoPro in Forbes</div>
    <img src="label-page/Forbes.png" width:"420" height="142px">
    <div class="paragraph">We were selected among the “30 brightest young entrepreneurs, breakout talents and change agents in the sector of social entrepreneurship in Europe”.</div>
  </div>
  <div class="col-md-6">
    <div class="title-class">We look forward to make you stand out</div>
  </div>

</div>
</div>
