.extra_benefit_hover {
  border: 2px solid #ffbd23 !important;
  p {
    color: #ffbd23 !important;
  }
}
.extra_benefits_label {
  color: #4c4a4e;
  transition: color 200ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 8px;
}

.extra_benefits_check_boxes {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  .first-row, .second-row {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    input {
      display: none;
    }
    .check_boxes {
      margin: 0;
      height: 100%;
      flex: 0 0 50%;
      border: 1px solid #e0e5ec;
      label {
        p {
          color: #8b8c8f;
          font-weight: 400;
        }
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 0px solid #e0e5ec;
      }
      &:hover {
        color: #ffbd23;
        border: 2px solid #ffbd23;
      }
    }
  }
}

@media (max-width: 768px) {
  .extra_benefits_check_boxes {
    flex-direction: column;
    width: 300px;
    height: 160px;
    .first-row {
      .check_boxes:nth-child(1) {
        border-top-left-radius: 10px;
      }
      .check_boxes:nth-child(2) {
        border-top-right-radius: 10px;
      }
    }
    .second-row {
      .check_boxes:nth-child(1) {
        border-bottom-left-radius: 10px;
      }
      .check_boxes:nth-child(2) {
        border-bottom-right-radius: 10px;
      }
    }
  }
}
@media (min-width: 768px) {
  .extra_benefits_check_boxes {
    flex-direction: row;
    width: 100%px;
    height: 70px;
    label:hover > p {
      color: #ffbd23 !important;
    }
    .first-row {
      .check_boxes:nth-child(1) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
    .second-row {
      .check_boxes:nth-child(2) {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.image_extra_benefit_meal_voucher {
  background-image: image-url("png_@2x/icon_meal_voucher_disabled@2x.png.png");
  background-size: cover;
  transition: background-image 200ms ease;
  width: 32.3px;
  height: 24.5px;
  will-change: background-image;
}
.extra_benefits_label:hover .image_extra_benefit_meal_voucher, .extra_benefits_label input:checked ~ .image_extra_benefit_meal_voucher {
  background-image: image-url("png_@2x/icon_meal_voucher_enabled@2x.png.png");
}

.image_extra_benefit_transport {
  background-image: image-url("png_@2x/icon_transport_costs_disabled@2x.png.png");
  background-size: cover;
  transition: background-image 200ms ease;
  width: 56px;
  height: 25px;
  will-change: background-image;
}
.extra_benefits_label:hover .image_extra_benefit_transport, .extra_benefits_label input:checked ~ .image_extra_benefit_transport {
  height: 24px;
  background-image: image-url("png_@2x/icon_transport_costs_enabled@2x.png.png");
}

.image_extra_benefit_insurance {
  background-image: image-url("png_@2x/icon_insurance_disabled@2x.png.png");
  background-size: cover;
  transition: background-image 200ms ease;
  width: 27.9px;
  height: 24.9px;
  will-change: background-image;
}
.extra_benefits_label:hover .image_extra_benefit_insurance, .extra_benefits_label input:checked ~ .image_extra_benefit_insurance {
  background-image: image-url("png_@2x/icon_insurance_enabled@2x.png.png");
}

.image_extra_benefit_accomodation {
  background-image: image-url("png_@2x/icon_accomodation_disabled@2x.png.png");
  background-size: cover;
  transition: background-image 200ms ease;
  width: 38px;
  height: 27.9px;
  will-change: background-image;
}
.extra_benefits_label:hover .image_extra_benefit_accomodation, .extra_benefits_label input:checked ~ .image_extra_benefit_accomodation {
  background-image: image-url("png_@2x/icon_accomodation_enabled@2x.png.png");
}







