.rating_professional_status {
  display: flex;
  justify-content: space-around;
  background: white;
  border-radius: 6px;
  border: solid 1px #e0e5ec;
  overflow: hidden;
  height: 70px;
  .radio {
    margin: 0;
  }
  span {
    flex: 1 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .internship-professional-status-hover {
      border: 2px solid #ffbd23;
      color: #ffbd23;
    }
    label {
      flex-direction: column;
      text-align: center;
      color: #8b8c8f;
      padding: 3px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 2px solid white;
      font-weight: 400;
      transition: all 200ms ease;
      &:hover {
        border: 2px solid #ffbd23;
        color: #ffbd23;
      }
      input {
        display: none;
      }
    }
    &:first-child label {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &:last-child label {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7) {
      border-left: 2px solid #e0e5ec;
    }
  }
  #rating_professional_status_student ~ .professional-status-image {
    background-size: cover;
    background-image: image-url("png_@2x/icon_student_disabled@2x.png.png");
    width: 38.4px;
    height: 27px;
    &:hover {
      background-image: image-url("png_@2x/icon_student_enabled@2x.png.png");
    }
  }

  #rating_professional_status_student:hover ~ .professional-status-image, #rating_professional_status_student:checked ~ .professional-status-image {
    background-image: image-url("png_@2x/icon_student_enabled@2x.png.png");
  }

  #rating_professional_status_graduate ~ .professional-status-image {
    background-size: cover;
    background-image: image-url("png_@2x/icon_graduate_disabled@2x.png.png");
    width: 40.9px;
    height: 23.9px;
    &:hover {
      background-image: image-url("png_@2x/icon_graduate_enabled@2x.png.png");
    }
  }

  #rating_professional_status_graduate:hover ~ .professional-status-image, #rating_professional_status_graduate:checked ~ .professional-status-image {
    background-image: image-url("png_@2x/icon_graduate_enabled@2x.png.png");
  }

  #rating_professional_status_trainee ~ .professional-status-image {
    background-size: cover;
    background-image: image-url("png_@2x/icon_trainee_disabled@2x.png.png");
    width: 32.9px;
    height: 28px;
    &:hover {
      background-image: image-url("png_@2x/icon_trainee_enabled@2x.png.png");
    }
  }

  #rating_professional_status_trainee:hover ~ .professional-status-image, #rating_professional_status_trainee:checked ~ .professional-status-image {
    background-image: image-url("png_@2x/icon_trainee_enabled@2x.png.png");
  }

  #rating_professional_status_young_professional ~ .professional-status-image {
    background-size: cover;
    background-image: image-url("png_@2x/icon_young_professional_disabled@2x.png.png");
    width: 31.3px;
    height: 26.3px;
    &:hover {
      background-image: image-url("png_@2x/icon_young_professional_enabled@2x.png.png");
    }
  }

  #rating_professional_status_young_professional:hover ~ .professional-status-image, #rating_professional_status_young_professional:checked ~ .professional-status-image {
    background-image: image-url("png_@2x/icon_young_professional_enabled@2x.png.png");
  }
}
