// General CSS for sections in form
.body-rating {
  background-color: #f6f8fa;
  overflow-x:hidden;
  position: relative;
}

.container {
  width: 100vw;
}

.rating_section {
  margin: 0 auto;
}

#section_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
}

#section_2 {
  max-width: 800px;
  margin-top: 80px;
  .sub-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #5B585D;
  }
}

/////
///// Css for icon and text top of sections
/// Media query for desktop
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .icon-main {
    background-image: image-url('png_@1x/icon_main_step@1x.png');
    color: #4c4a4e;
    height: 87px;
    width: 87px;
    float: left;
    margin: 14px;
  }
  .header-section-1 {
    max-width: 651px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    .fa {
      color: #c3c3c3;
    }
    h3 {
      font-size: 30px;
      color: #4c4a4e;
      line-height: 1;
    }
  }
  .header-section-2 {
    max-width: 800px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 75px;
    h3 {
      font-size: 30px;
      color: #4c4a4e;
      line-height: 1;
    }
  }
  .information-button {
    background-image: image-url('png_@1x/btn_informative-desktop@1x.png');
    float: right;
    height: 22px;
    width: 22px;
    margin-top: 3px;
    margin-left: 3px;
  }
}

/// Media query for mobile w/ 320px width, according to designs
@media (max-width: 768px) {

  #section_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .yes-no-field {
    width: 300px;
    margin: 0 auto;
    .sub-header {
      margin: 0;
    }
  }

  .comments-conditions {
    margin: 0 !important;
    max-width: 300px;
    .rating-read-conditions {
      color: #8b8c8f;
    }
    .rating_additional_comments {
      font-size: 14px;
      line-height: 24px;
      .comment-box {
        height: 160px;
      }
    }
  }

  .titles-section-2 {
    width: 300px;
    h4 {
      font-size: 14px;
      font-weight: 600;
      text-align: left;
      margin-bottom: 0;
      line-height: 30px;
    }
  }

  .header-end-form {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    .icon-end {
      background-image: image-url('png_@1x/icon_privacy@1x.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 37px;
      height: 37px;
    }
    .text-end-form {
      flex: 0 0 80%;
    }
  }

  .user-creation {
    input {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  #section_1 {
    .progress-bar-top {
      width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0px;
      height: 5px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      .green {
        flex: 0 0 20%;
        background-color: #74b05d;
        height: 100%;
      }
      .gray {
        flex: 0 0 80%;
        background-color: #e0e5ec;
        height: 100%;
      }
    }
  }

  #section_2 {
    margin-top: 20px;
    .progress-bar-top {
      width: 100vw;
      border-radius: 0px;
      height: 5px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      .green {
        flex: 0 0 80%;
        background-color: #74b05d;
        height: 100%;
      }
      .gray {
        flex: 0 0 20%;
        background-color: #e0e5ec;
        height: 100%;
      }
    }
  }

  .header-section-1 {
    max-width: 300px;
    margin: 12px auto;
    display: flex;
    color: #4c4a4e;
    border-radius: 0px;
    h3 {
      font-size: 14px;
      font-weight: 600;
    }
    p {
      font-size: 12px;
    }
    .fa {
      color: #c3c3c3;
    }
  }
  .divider {
    height: 1px;
    border-bottom: solid 1px #dddddd;
    margin-top: 9px;
  }

  .header-section-2 {
    max-width: 300px;
    position: relative;
    margin: 12px 10px;
    display: flex;
    color: #4c4a4e;
    h3 {
      font-size: 14px;
      font-weight: 600;
    }
    p {
      font-size: 12px;
    }
    .fa {
      color: #c3c3c3;
    }
  }
  hr {
    display:none;
  }
}

/////

// Css for header & fb login at the end of the form
.comment-box {
 border-radius: 8px;
 background-color: #ffffff;
 border: solid 1px #e0e5ec;
 min-height: 100px;
}


.comments-conditions {
  margin-top:35px;
}


// CSS for end form for mobile versions


@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  .icon-end {
    display: none;
    width: 42px;
  }

  .or-end-form {
    text-align: center;
  }

  .divider-end-form {
    display: none;
  }
}
///

/// End form for desktop

@media (min-width: 1200px) {

  .yes-no-field {
    height: 105px;
  }

  .header-end-form {
    max-width: 651px;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  .icon-end {
    background-image: image-url('png_@1x/icon_privacy@1x.png');
    color: #4c4a4e;
    height: 37px;
    background-repeat: no-repeat;
    width: 44px;
    float: left;
    margin: 14px;
  }
  .or-end-form {
    display: none;
  }
  .divider-end-form {
    height: 3px;
    border: solid 1px #dddddd;
  }
  .text-end-form {
    margin-top: 8px;
    p {
      font-size: 15px
    }
    i {
      color: #c3c3c3;
    }
  }
  .divider-center {
    padding-left: 180px;
    margin: 28px 0px;
  }
}


.facebook-button {
  border-radius: 4px;
  background-color: #3b5998;
  border: solid 1px #3b5998;
  height: 52px;
  max-width: 380px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  p {
    color: #ffffff;
    text-align: center;
    margin: 0px !important;
  }
}

.linkedin-button {
  border-radius: 4px;
  height: 52px;
  max-width: 380px;
  margin-top: 20px;
  background-color: #0077b5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  p {
    color: #ffffff;
    text-align: center;
    margin: 0px !important;
  }
}

.fafa-icon {
  margin-left: 15px;
  margin-top:  7px;
  margin-right: 15px;
}
/////

.section_switch_button {
  display: block;
}

.rating-stars-container {
  text-align: left;
  max-width: 300px;
  margin-top: 15px;
  .rating-stars-item {
    position: relative;
    h4 {
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      color: #5B585D;
    }
    i {
      color: #d1d1d1;
      transition: color 200ms ease;
      font-size: 45px;
    }
    label > input {
      visibility: hidden;
    }
    .radio_buttons {
      margin-left: -20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #8b8c8f;
      .radio {
        margin: 0;
      }
    }
  }
}

.form-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  .dropdown-button-container {
    margin: 10px auto;
  }
  h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #4c4a4e;
  }
}

// input fields for mobile
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .rating-form-fields {
    width: 380px;
    height: 52px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #e0e5ec;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .rating-form-fields {
    width: 280px;
    height: 52px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #e0e5ec;
  }
}




.star-information-popover {
  position: absolute;
  display: none;
  background: white;
  padding: 8px;
  z-index: 9999;
  border-radius: 1px;
  box-shadow: 0px 0px 2px rgba(1,1,1,0.3);
  transition: display 200ms ease;
  top: 85px;
  color: #3b393d;
}


// CSS for the error messages on section 1
.star_error_message {
  color: #E20606;
  span {
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #E20606;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
.error-message-section-2{
  color: #d0021b;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.exclamationmark {
  background-image: image-url('png_@1x/error_message@1x.png');
  width: 13px;
  height: 13px;
  float: left;
  margin-right: 3px;
}

// Css for the yes/no fields
.yes-no-field {
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  h4 {
    color: #5B585D;
  }
}

.yes-no-padding {
  padding-left: 10.1px;
}

.section-2-yes-no {
  .hide-input {
    display: none;
    &:checked ~ .section-2-radio .styled-radio-button {
      background-image: image-url('png_@2x/btn_radio_selected@2x.png.png');
      color: #ffbd23;
    }
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  span {
    margin-right: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .styled-radio-button {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: image-url('png_@2x/btn_radio_inactive@2x.png.png');
    transition: background-image 200ms ease;
    &:hover {
      background-image: image-url('png_@2x/btn_radio_selected@2x.png.png');
    }
  }
  .section-2-radio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #8b8c8f;
  }
}
/////
// CSS for selection int-year/int-duration/net-month
#selection-blocks-section-2 {
  background: white;
  height: 70px;
  max-width: 380px;
  border-radius: 6px;
  border: solid 1px #e0e5ec;
}

#selection-blocks-section-2-big {
  background: white;
  height: 70px;
  max-width: 800px;
  border-radius: 6px;
  border: solid 1px #e0e5ec;
}

.rating_internship_selection-2 {
  .radio {
    .check-input {
      &:checked ~ .label-section-2-selection .styled-meal-icon {
        color: #ffbd23;
      }
    }
    label {
      text-align: center;
      font-size: 16px;
      &:hover{
        color: #ffbd23;
      }
    }
  }
}



.rating_internship_selection-2-icons {
  .radio {
    // transport-icon-button
    .transport-icon {
      // display: none;
      &:checked ~ .label-selection-transport .styled-transport-icon {
        height: 25px;
        width: 56px;
        color: #ffbd23;
        background-image: image-url('png_@2x/icon_transport_costs_enabled@1x.png');
        .label-selection-transport {
          color: purple;
        }
      }
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
      margin-right: 10px;
      margin-top: 10px;
    }
    .styled-transport-icon {
      height: 25px;
      width: 56px;
      background-size: cover;
      background-image: image-url('png_@1x/icon_transport_costs_disabled@1x.png');
      transition: background-image 100ms ease;
      &:hover {
        background-image: image-url('png_@1x/icon_transport_costs_enabled@1x.png');
        height: 25px;
        width: 56px;
        .label-selection-transport {
          color: purple;
        }
      }
    }
    .meal-icon {
      display: none;
      &:checked ~ .label-selection-meal .styled-meal-icon {
        color: #ffbd23;
        background-image: image-url('png_@2x/btn_radio_selected@2x.png.png');
      }
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
      margin-right: 10px;
      margin-top: 10px;
    }
    .styled-meal-icon {
      width: 30px;
      height: 30px;
      background-size: cover;
      background-image: image-url('png_@2x/btn_radio_inactive@2x.png.png');
      transition: background-image 200ms ease;
      &:hover {
        background-image: image-url('png_@2x/btn_radio_selected@2x.png.png');
      }
    }
    .insurance-icon {
      display: none;
      &:checked ~ .label-selection-insurance .styled-insurance-icon {
        color: #ffbd23;
        background-image: image-url('png_@2x/btn_radio_selected@2x.png.png');
      }
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
      margin-right: 10px;
      margin-top: 10px;
    }
    .styled-insurance-icon {
      width: 30px;
      height: 30px;
      background-size: cover;
      background-image: image-url('png_@2x/btn_radio_inactive@2x.png.png');
      transition: background-image 200ms ease;
      &:hover {
        background-image: image-url('png_@2x/btn_radio_selected@2x.png.png');
      }
    }
    .accomodation-icon {
      display: none;
      &:checked ~ .label-selection-accomodation .styled-accomodation-icon {
        color: #ffbd23;
        background-image: image-url('png_@2x/btn_radio_selected@2x.png.png');
      }
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
      margin-right: 10px;
      margin-top: 10px;
    }
    .styled-accomodation-icon {
      width: 30px;
      height: 30px;
      background-size: cover;
      background-image: image-url('png_@2x/btn_radio_inactive@2x.png.png');
      transition: background-image 200ms ease;
      &:hover {
        background-image: image-url('png_@2x/btn_radio_selected@2x.png.png');
      }
    }
  }
  label {
    text-align: center;
    font-size: 16px;
    &:hover{
      color: #ffbd23;
    }
  }
}



//////


.titles-section-2 {
  h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #4c4a4e;
    margin-bottom: 20px;
  }
}
